<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>jUDDI</display-name>
    <description>
        jUDDI is Java-based implmementation of a UDDI version 2.0 registry.
    </description>

    <!--
     This Servlet is used to create, initialize and cleanup
     resources used by jUDDI. It ABSOLUTELY MUST be loaded first.
    -->
    <servlet>
        <servlet-name>jUDDIRegistryServlet</servlet-name>
        <display-name>jUDDI Registry Servlet</display-name>
        <servlet-class>org.apache.juddi.registry.RegistryServlet</servlet-class>
        <init-param>
            <param-name>juddi.propertiesFile</param-name>
            <param-value>/WEB-INF/juddi.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>jUDDIAdminService</servlet-name>
        <display-name>jUDDI Admin Service</display-name>
        <servlet-class>org.apache.juddi.registry.service.AdminService</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UDDIV2InquiryService</servlet-name>
        <display-name>UDDI Version 2.0 Inquiry Service</display-name>
        <servlet-class>org.apache.juddi.registry.service.InquiryService</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UDDIV2PublishService</servlet-name>
        <display-name>UDDI Version 2.0 Publish Service</display-name>
        <servlet-class>org.apache.juddi.registry.service.PublishService</servlet-class>
    </servlet>

    <!--  uncomment if you want to enable making calls in juddi with rmi
    <servlet>
        <servlet-name>RegisterServicesWithJNDI</servlet-name>
        <servlet-class>org.apache.juddi.registry.rmi.RegistrationService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    -->

    <servlet-mapping>
        <servlet-name>jUDDIAdminService</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UDDIV2InquiryService</servlet-name>
        <url-pattern>/inquiry</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UDDIV2PublishService</servlet-name>
        <url-pattern>/publish</url-pattern>
    </servlet-mapping>

    <welcome-file-list id="WelcomeFileList">
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <description>jUDDI DataSource</description>
        <res-ref-name>jdbc/juddiDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

</web-app>
