<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
    version="2.5">
    <display-name>Geronimo WS Provider</display-name>
    <servlet>
        <display-name>Provider SOAP11 SOAPMessage</display-name>
        <servlet-name>providerSOAP11SoapMessage</servlet-name>
        <servlet-class>org.apache.geronimo.jaxws.greeter_provider.web.GreeterSOAP11SOAPMessageProvider</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>providerSOAP11SoapMessage</servlet-name>
        <url-pattern>/provider/soap11/soapmessage</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Provider SOAP11 Message Mode Source</display-name>
        <servlet-name>providerSOAP11SourceMessageMode</servlet-name>
        <servlet-class>org.apache.geronimo.jaxws.greeter_provider.web.GreeterSOAP11SourceMessageModeProvider
        </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>providerSOAP11SourceMessageMode</servlet-name>
        <url-pattern>/provider/soap11/source/message</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Provider SOAP11 Payload Mode Source</display-name>
        <servlet-name>providerSOAP11SourcePayloadMode</servlet-name>
        <servlet-class>org.apache.geronimo.jaxws.greeter_provider.web.GreeterSOAP11SourcePayloadModeProvider
        </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>providerSOAP11SourcePayloadMode</servlet-name>
        <url-pattern>/provider/soap11/source/payload</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Provider SOAP12 SOAPMessage</display-name>
        <servlet-name>providerSOAP12SoapMessage</servlet-name>
        <servlet-class>org.apache.geronimo.jaxws.greeter_provider.web.GreeterSOAP12SOAPMessageProvider</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>providerSOAP12SoapMessage</servlet-name>
        <url-pattern>/provider/soap12/soapmessage</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Provider SOAP12 Message Mode Source</display-name>
        <servlet-name>providerSOAP12SourceMessageMode</servlet-name>
        <servlet-class>org.apache.geronimo.jaxws.greeter_provider.web.GreeterSOAP12SourceMessageModeProvider
        </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>providerSOAP12SourceMessageMode</servlet-name>
        <url-pattern>/provider/soap12/source/message</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Provider SOAP12 Payload Mode Source</display-name>
        <servlet-name>providerSOAP12SourcePayloadMode</servlet-name>
        <servlet-class>org.apache.geronimo.jaxws.greeter_provider.web.GreeterSOAP12SourcePayloadModeProvider
        </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>providerSOAP12SourcePayloadMode</servlet-name>
        <url-pattern>/provider/soap12/source/payload</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Provider HTTP DataSource</display-name>
        <servlet-name>providerHTTPDataSource</servlet-name>
        <servlet-class>org.apache.geronimo.jaxws.greeter_provider.web.GreeterHTTPDataSourceProvider</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>providerHTTPDataSource</servlet-name>
        <url-pattern>/provider/http/datasource</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Provider HTTP Source Message Mode</display-name>
        <servlet-name>providerHTTPSourceMessageMode</servlet-name>
        <servlet-class>org.apache.geronimo.jaxws.greeter_provider.web.GreeterHTTPSourceMessageModeProvider</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>providerHTTPSourceMessageMode</servlet-name>
        <url-pattern>/provider/http/source/message</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Provider HTTP Source Payload Mode</display-name>
        <servlet-name>providerHTTPSourcePayloadMode</servlet-name>
        <servlet-class>org.apache.geronimo.jaxws.greeter_provider.web.GreeterHTTPSourcePayloadModeProvider</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>providerHTTPSourcePayloadMode</servlet-name>
        <url-pattern>/provider/http/source/payload</url-pattern>
    </servlet-mapping>
</web-app>
