<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="debug-tool"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>JMX Debug Tool</display-name>

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.vm</welcome-file>
    </welcome-file-list>

    <servlet>
        <display-name>Debug</display-name>
        <servlet-name>Debug</servlet-name>
        <servlet-class>org.apache.geronimo.jmxdebug.web.velocity.DebugServlet</servlet-class>
        <init-param>
            <param-name>charset</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
		<init-param>
			<param-name>form-encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>container-encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Debug</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
