<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Welcome to Geronimo</display-name>
    <description>
        Welcome to Geronimo
    </description>

    <servlet>
        <servlet-name>jsp_sample_installer</servlet-name>
        <servlet-class>org.apache.geronimo.welcome.AbsentSampleServlet</servlet-class>
        <init-param>
            <param-name>moduleId</param-name>
            <param-value>geronimo/jsp-examples-SERVER//car</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>servlet_sample_installer</servlet-name>
        <servlet-class>org.apache.geronimo.welcome.AbsentSampleServlet</servlet-class>
        <init-param>
            <param-name>moduleId</param-name>
            <param-value>geronimo/servlets-examples-SERVER//car</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>ldap_sample_installer</servlet-name>
        <servlet-class>org.apache.geronimo.welcome.AbsentSampleServlet</servlet-class>
        <init-param>
            <param-name>moduleId</param-name>
            <param-value>geronimo/ldap-demo-SERVER//car</param-value>
        </init-param>
    </servlet>

    <!-- [INSERT FRAGMENT HERE] --> 

    <servlet-mapping>
        <servlet-name>jsp_sample_installer</servlet-name>
        <url-pattern>/jsp-examples/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servlet_sample_installer</servlet-name>
        <url-pattern>/servlets-examples/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ldap_sample_installer</servlet-name>
        <url-pattern>/ldap-demo/*</url-pattern>
    </servlet-mapping>

</web-app>
