<?xml version="1.0" encoding="UTF-8" ?>
<!--
* Copyright 2005 The Apache Software Foundation
*
*  Licensed under the Apache License, Version 2.0 (the "License");
*  you may not use this file except in compliance with the License.
*  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
*  Unless required by applicable law or agreed to in writing, software
*  distributed under the License is distributed on an "AS IS" BASIS,
*  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*  See the License for the specific language governing permissions and
*  limitations under the License.
-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean name="JMXBridge" class="org.gbean.jmx.JMXBridge">
        <constructor-arg index="0"><bean class="org.gbean.spring.KernelReference"/></constructor-arg>
        <constructor-arg index="1"><ref bean=":j2eeType=ServiceInvokerManager,name=default"/></constructor-arg>
    </bean>

    <bean name="ServerInfo" class="org.apache.geronimo.system.serverinfo.ServerInfo">
        <property name="gbean-object-name"><value>geronimo.server:J2EEServer=geronimo,J2EEApplication=null,J2EEModule=org/apache/geronimo/System,j2eeType=GBean,name=ServerInfo</value></property>

    </bean>

    <bean name="URLFactory" class="org.apache.geronimo.system.url.GeronimoURLFactory"/>

    <bean name="LocalConfigurationStore" class="org.apache.geronimo.system.configuration.LocalConfigStore">
        <property name="gbean-object-name"><value>geronimo.server:J2EEApplication=null,J2EEModule=org/apache/geronimo/System,J2EEServer=geronimo,j2eeType=ConfigurationStore,name=Local</value></property>
        <property name="root"><value>config-store</value></property>
        <property name="serverInfo"><ref bean="ServerInfo"/></property>
    </bean>

    <bean name="ConfigurationManager" class="org.apache.geronimo.kernel.config.ConfigurationManagerImpl">
        <property name="stores">
            <bean class="org.gbean.spring.LiveProxyHashSetReference">
                <property name="name"><value>Stores</value></property>
                <property name="pattern"><value>*:j2eeType=ConfigurationStore,*</value></property>
                <property name="type"><value>org.apache.geronimo.kernel.config.ConfigurationStore</value></property>
            </bean>
        </property>
    </bean>

    <bean name="FileConfigurationList" class="org.apache.geronimo.system.configuration.FileConfigurationList">
        <property name="serverInfo"><ref bean="ServerInfo"/></property>
        <property name="configurationManager"><ref bean="ConfigurationManager"/></property>
        <property name="configFile"><value>var/config/config.list</value></property>
    </bean>

    <bean name="Repository" class="org.apache.geronimo.system.repository.ReadOnlyRepository">
        <property name="root"><value>repository/</value></property>
        <property name="serverInfo"><ref bean="ServerInfo"/></property>
    </bean>

    <bean name="RMIRegistry" class="org.apache.geronimo.system.rmi.RMIRegistryService">
        <property name="port"><value>1099</value></property>
    </bean>

    <bean name="NamingProperties" class="org.apache.geronimo.system.properties.NamingProperties">
        <property name="namingFactoryInitial"><value>com.sun.jndi.rmi.registry.RegistryContextFactory</value></property>
        <property name="namingFactoryUrlPkgs"><value>org.apache.geronimo.naming</value></property>
        <property name="namingProviderUrl"><value>rmi://localhost:1099</value></property>
    </bean>

    <bean name="properties-login" class="org.apache.geronimo.security.jaas.LoginModuleGBean">
        <property name="loginModuleClass"><value>org.apache.geronimo.security.realm.providers.PropertiesFileLoginModule</value></property>
        <property name="serverSide"><value>true</value></property>
        <property name="options">
            <props>
                <prop key="usersURI">var/security/users.properties</prop>
                <prop key="groupsURI">var/security/groups.properties</prop>
            </props>
        </property>
        <property name="loginDomainName"><value>geronimo-properties-realm</value></property>
    </bean>

    <bean name="geronimo-properties-realm" class="org.apache.geronimo.security.realm.GenericSecurityRealm">
        <property name="realmName"><value>geronimo-properties-realm</value></property>
        <property name="loginModuleConfiguration"><ref bean="properties-login-options"/></property>
        <property name="serverInfo"><ref bean="ServerInfo"/></property>
    </bean>

    <bean name="properties-login-options" class="org.apache.geronimo.security.jaas.JaasLoginModuleUse">
        <property name="loginModule"><ref bean="properties-login"/></property>
        <property name="controlFlag"><value>REQUIRED</value></property>
     </bean>

    <bean name="JMX" class="org.apache.geronimo.security.jaas.ServerRealmConfigurationEntry">
        <property name="applicationConfigName"><value>JMX</value></property>
        <property name="realmName"><value>geronimo-properties-realm</value></property>
    </bean>

    <bean name="LoginConfiguration" class="org.apache.geronimo.security.jaas.GeronimoLoginConfiguration">
        <property name="configurations">
            <bean class="org.gbean.geronimo.CollectionReference">
                <property name="name"><value>Configurations</value></property>
                <property name="patterns">
                    <set>
                        <value type="javax.management.ObjectName">*:j2eeType=SecurityRealm,*</value>
                        <value type="javax.management.ObjectName">*:j2eeType=ConfigurationEntry,*</value>
                    </set>
                </property>
                <property name="type"><value>org.apache.geronimo.security.jaas.ConfigurationEntryFactory</value></property>
            </bean>
        </property>
    </bean>

    <bean name="SecurityService" class="org.apache.geronimo.security.SecurityServiceImpl">
        <property name="serverInfo"><ref bean="ServerInfo"/></property>
        <property name="policyConfigurationFactory"><value>org.apache.geronimo.security.jacc.GeronimoPolicyConfigurationFactory</value></property>
        <property name="policyProvider"><value>org.apache.geronimo.security.jacc.GeronimoPolicy</value></property>
    </bean>

    <bean name="JaasLoginService" class="org.apache.geronimo.security.jaas.JaasLoginService">
        <property name="gbean-object-name"><value>geronimo.server:J2EEApplication=null,J2EEModule=org/apache/geronimo/Server,J2EEServer=geronimo,j2eeType=GBean,name=JaasLoginService</value></property>
        <property name="algorithm"><value>HmacSHA1</value></property>
        <property name="password"><value>secret</value></property>
        <property name="realms">
            <bean class="org.gbean.geronimo.CollectionReference">
                <property name="name"><value>realms</value></property>
                <property name="pattern"><value>*:j2eeType=SecurityRealm,*</value></property>
                <property name="type"><value>org.apache.geronimo.security.realm.SecurityRealm</value></property>
            </bean>
        </property>
    </bean>

    <bean name="DefaultThreadPool" class="org.apache.geronimo.pool.ThreadPool">
        <property name="poolSize"><value>10</value></property>
        <property name="poolName"><value>DefaultThreadPool</value></property>
        <property name="keepAliveTime"><value>5000</value></property>
    </bean>

    <bean name="ConnectionTracker" class="org.apache.geronimo.connector.outbound.connectiontracking.ConnectionTrackingCoordinator"/>

    <bean name="DefaultWorkManager" class="org.apache.geronimo.connector.work.GeronimoWorkManagerGBean">
        <property name="syncMaximumPoolSize"><value>10</value></property>
        <property name="startMaximumPoolSize"><value>10</value></property>
        <property name="scheduledMaximumPoolSize"><value>10</value></property>
        <property name="transactionContextManager"><ref bean="TransactionContextManager"/></property>
    </bean>

    <bean name="HOWLTransactionLog" class="org.apache.geronimo.transaction.log.HOWLLog">
        <property name="bufferClassName"><value>org.objectweb.howl.log.BlockLogBuffer</value></property>
        <property name="bufferSizeKBytes"><value>32</value></property>
        <property name="checksumEnabled"><value>true</value></property>
        <property name="flushSleepTimeMilliseconds"><value>50</value></property>
        <property name="logFileDir"><value>var/txlog</value></property>
        <property name="logFileExt"><value>log</value></property>
        <property name="logFileName"><value>howl</value></property>
        <property name="maxBlocksPerFile"><value>-1</value></property>
        <property name="maxBuffers"><value>0</value></property>
        <property name="maxLogFiles"><value>2</value></property>
        <property name="minBuffers"><value>4</value></property>
        <property name="threadsWaitingForceThreshold"><value>-1</value></property>
        <property name="serverInfo"><ref bean="ServerInfo"/></property>
    </bean>

    <bean name="TransactionManager" class="org.apache.geronimo.transaction.manager.TransactionManagerImplGBean">
        <property name="defaultTransactionTimeoutSeconds"><value>600</value></property>
        <property name="transactionLog"><ref bean="HOWLTransactionLog"/></property>
        <property name="resourceManagers">
            <bean class="org.gbean.geronimo.CollectionReference">
                <property name="name"><value>ResourceManagers</value></property>
                <property name="patterns">
                    <set>
                        <value type="javax.management.ObjectName">*:j2eeType=JCAManagedConnectionFactory,*</value>
                        <value type="javax.management.ObjectName">*:j2eeType=ActivationSpec,*</value>
                    </set>
                </property>
                <property name="type"><value>org.apache.geronimo.transaction.manager.ResourceManager</value></property>
            </bean>
        </property>
    </bean>

    <bean name="TransactionContextManager" class="org.apache.geronimo.transaction.context.TransactionContextManagerGBean">
        <property name="transactionManager"><ref bean="TransactionManager"/></property>
        <property name="xidImporter"><ref bean="TransactionManager"/></property>
    </bean>

    <bean name="JettyWebContainer" class="org.apache.geronimo.jetty.JettyContainerImpl"/>

    <bean name="JettyRequestLog" class="org.apache.geronimo.jetty.requestlog.NCSARequestLog">
        <property name="jettyContainer"><ref bean="JettyWebContainer"/></property>
        <property name="serverInfo"><ref bean="ServerInfo"/></property>
        <property name="filename"><value>var/log/jetty_yyyy_mm_dd.log</value></property>
        <property name="logDateFormat"><value>dd/MMM/yyyy:HH:mm:ss ZZZ</value></property>
        <property name="logTimeZone"><value>GMT</value></property>
    </bean>

    <bean name="JettyWebConnector" class="org.apache.geronimo.jetty.connector.HTTPConnector">
        <property name="jettyContainer"><ref bean="JettyWebContainer"/></property>
        <property name="port"><value>8080</value></property>
    </bean>

    <bean name="JettySSLConnector" class="org.apache.geronimo.jetty.connector.HTTPSConnector">
        <property name="jettyContainer"><ref bean="JettyWebContainer"/></property>
        <property name="serverInfo"><ref bean="ServerInfo"/></property>
        <property name="port"><value>8443</value></property>
        <property name="keystore"><value>var/security/keystore</value></property>
        <property name="keystoreType"><value>JKS</value></property>
        <property name="password"><value>secret</value></property>
        <property name="keyPassword"><value>secret</value></property>
        <property name="needClientAuth"><value>false</value></property>
        <property name="protocol"><value>TLS</value></property>
    </bean>

    <bean name="EjbNetworkService" class="org.openejb.server.StandardServiceStack">
        <property name="name"><value>EJB</value></property>
        <property name="port"><value>4201</value></property>
        <property name="address"><value>127.0.0.1</value></property>
        <property name="allowHosts"><value>127.0.0.1</value></property>
        <property name="logOnSuccess"><value>HOST,NAME,THREADID,USERID</value></property>
        <property name="logOnFailure"><value>HOST,NAME</value></property>
        <property name="executor"><ref bean="DefaultThreadPool"/></property>
        <property name="server"><ref bean="EjbServer"/></property>
    </bean>
    
    <bean name="EjbServer" class="org.openejb.server.ejbd.EjbServer">
        <property name="containerIndex"><ref bean="ContainerIndex"/></property>
    </bean>
    
    <bean name="ContainerIndex" class="org.openejb.ContainerIndex">
        <property name="eJBContainers">
            <bean class="org.gbean.geronimo.CollectionReference">
                <property name="name"><value>ResourceManagers</value></property>
                <property name="patterns">
                    <set>
                        <value type="javax.management.ObjectName">*:j2eeType=StatelessSessionBean,*</value>
                        <value type="javax.management.ObjectName">*:j2eeType=StatefulSessionBean,*</value>
                        <value type="javax.management.ObjectName">*:j2eeType=EntityBean,*</value>
                    </set>
                </property>
                <property name="type"><value>org.openejb.EJBContainer</value></property>
            </bean>
        </property>
    </bean>

    <bean name="JMXService" class="org.apache.geronimo.jmxremoting.JMXConnector" depends-on="NamingProperties, RMIRegistry">
        <property name="url"><value>service:jmx:rmi://localhost/jndi/rmi:/JMXConnector</value></property>
        <property name="applicationConfigName"><value>JMX</value></property>
    </bean>

    <bean name="eis/JAXR" class="org.apache.geronimo.webservices.jaxr.JAXRGBean"/>

    <bean name="J2EEDomain" class="org.apache.geronimo.j2ee.management.impl.J2EEDomainImpl">
        <property name="gbean-object-name"><value>geronimo.server:j2eeType=J2EEDomain,name=geronimo.server</value></property>
    </bean>

    <bean name="J2EEServer" class="org.apache.geronimo.j2ee.management.impl.J2EEServerImpl">
        <property name="gbean-object-name"><value>geronimo.server:j2eeType=J2EEServer,name=geronimo</value></property>
        <property name="serverInfo"><ref bean="ServerInfo"/></property>
    </bean>

    <bean name="JVM" class="org.apache.geronimo.j2ee.management.impl.JVMImpl">
        <property name="gbean-object-name"><value>geronimo.server:j2eeType=JVM,J2EEServer=geronimo,name=JVM</value></property>
    </bean>

    <bean name="MEJB" class="org.openejb.mejb.MEJB">
        <property name="gbean-object-name"><value>geronimo.server:J2EEApplication=null,EJBModule=org/apache/geronimo/Server,J2EEServer=geronimo,j2eeType=StatelessSessionBean,name=ejb/mgmt/MEJB</value></property>
    </bean>

</beans>

