<?xml version="1.0" encoding="UTF-8"?>

<attributes>
  <configuration name="org/apache/geronimo/RMINaming">
    <gbean name="RMIRegistry">
      <attribute name="port">${PlanNamingPort}</attribute>
    </gbean>
    <gbean name="NamingProperties">
      <!-- Check whether this really works if host name is 0.0.0.0 -->
      <attribute name="namingProviderUrl">rmi://${PlanServerHostname}:${PlanNamingPort}</attribute>
    </gbean>
  </configuration>
  <configuration name="org/apache/geronimo/Server">
    <gbean name="JettyWebConnector">
      <attribute name="host">${PlanServerHostname}</attribute>
      <attribute name="port">${PlanHTTPPort}</attribute>
      <attribute name="redirectPort">${PlanHTTPSPort}</attribute>
    </gbean>
    <gbean name="JettySSLConnector">
      <attribute name="host">${PlanServerHostname}</attribute>
      <attribute name="port">${PlanHTTPSPort}</attribute>
    </gbean>
    <gbean name="TomcatWebConnector">
      <attribute name="host">${PlanServerHostname}</attribute>
      <attribute name="port">${PlanHTTPPort}</attribute>
      <attribute name="redirectPort">${PlanHTTPSPort}</attribute>
    </gbean>
    <gbean name="TomcatAJPConnector">
      <attribute name="host">${PlanServerHostname}</attribute>
      <attribute name="port">${PlanAJPPort}</attribute>
      <attribute name="redirectPort">${PlanHTTPSPort}</attribute>
    </gbean>
    <gbean name="TomcatWebSSLConnector">
      <attribute name="host">${PlanServerHostname}</attribute>
      <attribute name="port">${PlanHTTPSPort}</attribute>
    </gbean>
    <gbean name="openejb:type=NetworkService,name=EJB">
      <attribute name="host">${PlanServerHostname}</attribute>
      <attribute name="port">${PlanOpenEJBPort}</attribute>
    </gbean>
    <gbean name="geronimo.remoting:target=JaasLoginServiceRemotingServer">
      <attribute name="host">${PlanServerHostname}</attribute>
      <attribute name="port">${PlanRemoteLoginPort}</attribute>
    </gbean>
    <!-- Add CORBA settings PlanIIOPPort, PlanORBPort, PlanCOSNamingPort -->
  </configuration>
  <configuration name="org/apache/geronimo/ActiveMQServer">
    <gbean name="ActiveMQ.tcp.default">
      <attribute name="host">${PlanServerHostname}</attribute>
      <attribute name="port">${PlanActiveMQPort}</attribute>
    </gbean>
  </configuration>
  <configuration name="org/apache/geronimo/SystemDatabase">
    <gbean name="DerbyNetwork">
      <attribute name="host">${PlanServerHostname}</attribute>
      <attribute name="port">${PlanDerbyPort}</attribute>
    </gbean>
  </configuration>
</attributes>
