<h3>MBean List</h3>

<hr/>

<form method="GET" action="index.vm">
  <input class="textInput" type="text" size="30" name="ObjectNameFilter" value="$!ObjectNameFilter"/>
  <input class="submit" type="submit" tabindex="1" value="Filter Output"/>

  (<a href="/geronimo-web-console/faq.jsp#objectName"/>help</a>)
</form>

#set($filterParam = $encoder.encode($ObjectNameFilter, "UTF-8"))
#set($currentDomain = "")
#set($i = 0)
#set($mbeanList = $mbctx.getGBeanNames($ObjectNameFilter))

<hr/>

<b>Number of MBeans : </b> $mbeanList.size()

<hr/>

#foreach($name in $mbeanList)
   #if (!($name.getDomain().equals($currentDomain)))

       #if ($i != 0)
         </ul>
       #end

       #set($currentDomain = $name.getDomain())
       <div class='paragraphHead'>$currentDomain</div>
       <ul class='mbeanList'>
   #end

   #set($cName = $name.getCanonicalName())
   #set($encodedName = $encoder.encode($cName, "UTF-8"))
   #set($where = $cName.indexOf(":") + 1)
   #set($output = $cName.substring($where))
   #set($state = $mbctx.getState($name))

   <li>
     <a href="index.vm?ObjectNameFilter=$filterParam&MBeanName=$encodedName">$output</a> [$state]
   </li>

   #set($i = $i + 1)
#end

</ul>
