<table>
<tr>
  <td>
    <b>ObjectName: </b>
  </td>
  <td>
    $beanInfo.getCanonicalName()
  </td>
</tr>
<tr>
  <td>
    <b>ClassName: </b>
  </td>
  <td>
    $!beanInfo.getClassName()
  </td>
</tr>
<tr>
  <td>
    <b>State: </b>
  </td>
  <td>
    $beanInfo.getState()
  </td>
</tr>
</table>

<h3>MBean Attributes</h3>

<table>

<tr>
  <th>Name</th>
  <th>Value</th>
</tr>

#foreach($i in $beanInfo.getAttributes().entrySet())

#set($name = $i.getKey())
#if($name != "objectName" && $name != "statisticsProvider" && $name != "stateManageable" && $name != "eventProvider" && $name != "state" && $name != "startTime")
<tr>
  <td>$name</td>
  <td>$i.getValue()</td>
</tr>
#end

#end
</table>

<h3>MBean Operations</h3>


<table>

<tr>
  <th>Name</th>
  <th>MethodName</th>
  <th>Parameters</th>
</tr>

#foreach($i in $beanInfo.getOperationInfo())
<tr>
  <td>$i.getName()</td>
  <td>$i.getMethodName()</td>
  <td>$i.getParameterList()</td>
</tr>
#end
</table>

