<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="MagicGBallWeb">
	<display-name>MagicGBallWeb</display-name>
	<servlet>
        <servlet-name>MagicGBallServlet</servlet-name>
		<display-name>MagicGBallServlet</display-name>
        <servlet-class>org.acme.MagicGBallServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>MagicGBallServlet</servlet-name>
		<url-pattern>/ask</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<ejb-local-ref>
		<ejb-ref-name>mGball</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>org.acme.MagicGBallLocalHome</local-home>
		<local>org.acme.MagicGBallLocal</local>
		<ejb-link>magicGball-ejb-1.1-SNAPSHOT.jar#MagicGBall</ejb-link>
	</ejb-local-ref>
</web-app>
