<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <category name="org.apache.commons.beanutils">
        <priority value="info"/>
    </category>

    <root>
        <priority value="debug"/>
    </root>
</log4j:configuration>
