<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2004 The Apache Software Foundation

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!-- $Rev$ $Date$ -->

<web-app version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>happyjuddi.jsp</welcome-file>
    </welcome-file-list>

    <!--
      This Servlet is used to create, initialize and cleanup
      resources used by jUDDI. It ABSOLUTELY MUST be loaded first.
     -->
    <servlet>
        <display-name>jUDDI Registry Servlet</display-name>
        <servlet-name>jUDDIRegistryServlet</servlet-name>
        <servlet-class>org.apache.juddi.registry.RegistryServlet</servlet-class>
        <init-param>
            <param-name>juddi.propertiesFile</param-name>
            <param-value>/WEB-INF/juddi.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <display-name>jUDDI Admin Service</display-name>
        <servlet-name>jUDDIAdminService</servlet-name>
        <servlet-class>org.apache.juddi.registry.AdminService</servlet-class>
    </servlet>
    <servlet>
        <display-name>UDDI Version 2.0 Inquiry Service</display-name>
        <servlet-name>UDDIV2InquiryService</servlet-name>
        <servlet-class>org.apache.juddi.registry.InquiryService</servlet-class>
    </servlet>
    <servlet>
        <display-name>UDDI Version 2.0 Publish Service</display-name>
        <servlet-name>UDDIV2PublishService</servlet-name>
        <servlet-class>org.apache.juddi.registry.PublishService</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>jUDDIAdminService</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UDDIV2InquiryService</servlet-name>
        <url-pattern>/inquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UDDIV2PublishService</servlet-name>
        <url-pattern>/publish</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <description>jUDDI DataSource</description>
        <res-ref-name>jdbc/juddiDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>
