<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
Copyright 2004 The Apache Software Foundation
Licensed  under the  Apache License,  Version 2.0  (the "License");
you may not use  this file  except in  compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed  under the  License is distributed on an "AS IS" BASIS,
WITHOUT  WARRANTIES OR CONDITIONS  OF ANY KIND, either  express  or
implied.

See the License for the specific language governing permissions and
limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Geronimo Management Console Portlets</display-name>

    <servlet>
        <display-name>Pluto Wrapper for EJB Server Portlet</display-name>
        <servlet-name>EJBServer</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.EmptyPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.EJBServer</param-value>
        </init-param>
    </servlet>
    <servlet>
        <display-name>Pluto Wrapper for J2CA Server Portlet</display-name>
        <servlet-name>J2CAServer</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.EmptyPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.J2CAServer</param-value>
        </init-param>
    </servlet>
    <servlet>
        <display-name>Pluto Wrapper for CORBA Server Portlet</display-name>
        <servlet-name>CORBAServer</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.EmptyPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.CORBAServer</param-value>
        </init-param>
    </servlet>
    <servlet>
        <display-name>Pluto Wrapper for UDDI Server Portlet</display-name>
        <servlet-name>UDDIServer</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.EmptyPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.UDDIServer</param-value>
        </init-param>
    </servlet>
    <servlet>
        <display-name>Pluto Wrapper for Mail Server Portlet</display-name>
        <servlet-name>MailServer</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.EmptyPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.MailServer</param-value>
        </init-param>
    </servlet>
    <servlet>
        <display-name>Pluto Wrapper for EARModules Portlet</display-name>
        <servlet-name>EARModules</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.configmanager.ConfigManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.EARModules</param-value>
        </init-param>
    </servlet>
    <servlet>
        <display-name>Pluto Wrapper for WARModules Portlet</display-name>
        <servlet-name>WARModules</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.configmanager.ConfigManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.WARModules</param-value>
        </init-param>
    </servlet>
    <servlet>
        <display-name>Pluto Wrapper for EJBModules Portlet</display-name>
        <servlet-name>EJBModules</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.configmanager.ConfigManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.EJBModules</param-value>
        </init-param>
    </servlet>
    <servlet>
        <display-name>Pluto Wrapper for RARModules Portlet</display-name>
        <servlet-name>RARModules</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.configmanager.ConfigManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.RARModules</param-value>
        </init-param>
    </servlet>
    <servlet>
        <display-name>Pluto Wrapper for ClientModules Portlet</display-name>
        <servlet-name>ClientModules</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.configmanager.ConfigManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.ClientModules</param-value>
        </init-param>
    </servlet>
    <servlet>
        <display-name>Pluto Wrapper for SystemModules Portlet</display-name>
        <servlet-name>SystemModules</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.configmanager.ConfigManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.SystemModules</param-value>
        </init-param>
    </servlet>
    <servlet>
        <display-name>Pluto Wrapper for SecurityRealms Portlet</display-name>
        <servlet-name>SecurityRealms</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.EmptyPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.SecurityRealms</param-value>
        </init-param>
    </servlet>
    <servlet>
        <display-name>Pluto Wrapper for Keystore Portlet</display-name>
        <servlet-name>Keystore</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.certmanager.CertManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.Keystore</param-value>
        </init-param>
    </servlet>


    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Applications Portlet</display-name>
        <servlet-name>Applications</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.configmanager.ConfigManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.Applications</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Applications Portlet</display-name>
        <servlet-name>Deployment</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.configmanager.DeploymentPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.Deployment</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Database Portlet</display-name>
        <servlet-name>Databases</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.databasemanager.DatabaseManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.Databases</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Database Wizard Portlet</display-name>
        <servlet-name>DBWizard</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.databasemanager.wizard.DatabasePoolPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.DBWizard</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for JMS ConnectionFactory Portlet</display-name>
        <servlet-name>JMSConnections</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.jmsmanager.JMSConnectionFactoryManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.JMSConnections</param-value>
        </init-param>
    </servlet>

   <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Gluecode SE Users Portlet</display-name>
        <servlet-name>SEUsers</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.securitymanager.SEUsersPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.SEUsers</param-value>
        </init-param>
    </servlet>

    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Gluecode SE Groups Portlet</display-name>
        <servlet-name>SEGroups</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.securitymanager.SEGroupsPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.SEGroups</param-value>
        </init-param>
    </servlet>


      <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Log Manager Portlet</display-name>
        <servlet-name>LogManager</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.logmanager.LogManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.LogManager</param-value>
        </init-param>
   </servlet>
   <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Log Viewer Portlet</display-name>
        <servlet-name>LogViewer</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.logmanager.LogViewerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.LogViewer</param-value>
        </init-param>
    </servlet>
   <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Derby Log Viewer Portlet</display-name>
        <servlet-name>DerbyLogViewer</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.derbylogmanager.DerbyLogViewerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.DerbyLogViewer</param-value>
        </init-param>
    </servlet>
   <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Web Access Viewer Portlet</display-name>
        <servlet-name>WebAccessLogViewer</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.logmanager.WebAccessLogViewerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.WebAccessLogViewer</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Servlet Info Portlet</display-name>
        <servlet-name>ServerInfo</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.infomanager.ServerInfoPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.ServerInfo</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Java System Info Portlet</display-name>
        <servlet-name>JavaSysInfo</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.infomanager.JavaSystemInfoPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.JavaSysInfo</param-value>
        </init-param>
    </servlet>

    <!--
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Mail Managemer Portlet</display-name>
        <servlet-name>MailManager</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.mailmanager.MailManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.MailManager</param-value>
        </init-param>
    </servlet>
    -->

    <!-- BPM Portlets -->
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for BPM Deployment Portlet</display-name>
        <servlet-name>BPMDeployment</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.gluecode.se.console.standard.bpmmanager.BPMDeploymentPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.BPMDeployment</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for BPM Instance Portlet</display-name>
        <servlet-name>BPMInstance</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.gluecode.se.console.standard.bpmmanager.BPMInstancePortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.BPMInstance</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for BPM Task List Portlet</display-name>
        <servlet-name>BPMTaskList</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.gluecode.se.console.standard.bpmmanager.BPMTaskListPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.BPMTaskList</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for BPM Notification Portlet</display-name>
        <servlet-name>BPMNotification</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.gluecode.se.console.standard.bpmmanager.BPMNotificationPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.BPMNotification</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for BPM Operational Statistics Portlet</display-name>
        <servlet-name>BPMStatistics</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.gluecode.se.console.standard.bpmmanager.BPMStatisticsPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.BPMStatistics</param-value>
        </init-param>
    </servlet>

    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for JMS Portlet</display-name>
        <servlet-name>JMSManager</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.jmsmanager.JMSManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.JMSManager</param-value>
        </init-param>
    </servlet>

    <!-- Web Server Manager Portlet -->
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Web Server Management Portlet</display-name>
        <servlet-name>WebServerManager</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.webmanager.WebManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.WebServerManager</param-value>
        </init-param>
    </servlet>
    <!--
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for HTTP Connector Management Portlet</display-name>
        <servlet-name>HTTPConnectorManager</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.webmanager.HttpConnectorPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.HTTPConnectorManager</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for HTTP Connector Management Portlet</display-name>
        <servlet-name>HTTPSConnectorManager</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.webmanager.HttpsConnectorPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.HTTPSConnectorManager</param-value>
        </init-param>
    </servlet>
-->
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Connector Management Portlet</display-name>
        <servlet-name>ConnectorManager</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.webmanager.ConnectorPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.ConnectorManager</param-value>
        </init-param>
    </servlet>
    <!-- JMS Server Manager Portlet -->
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for JMS Server Management Portlet</display-name>
        <servlet-name>JMSServerManager</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.jmsmanager.server.JMSBrokerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.JMSServerManager</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for JMS Connector Management Portlet</display-name>
        <servlet-name>JMSConnectorManager</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.jmsmanager.server.JMSConnectorPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.JMSConnectorManager</param-value>
        </init-param>
    </servlet>


    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for JNDI Portlet</display-name>
        <servlet-name>JNDI</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.jndimanager.JNDIInfoPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.JNDI</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Repository Viewer Portlet</display-name>
        <servlet-name>RepositoryViewer</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.repository.RepositoryViewPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.RepositoryViewer</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Server Manager Portlet</display-name>
        <servlet-name>ServerManager</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.servermanager.ServerManagerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.ServerManager</param-value>
        </init-param>
    </servlet>

    <!-- DB manager servlets -->
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Internal DB Portlet</display-name>
        <servlet-name>InternalDB</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.internaldb.InternalDBPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.InternalDB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for DB Viewer Portlet</display-name>
        <servlet-name>DBViewer</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.internaldb.DBViewerPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.DBViewer</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Automated generated Portlet Wrapper</description>
        <display-name>Pluto Wrapper for Run SQL Portlet</display-name>
        <servlet-name>RunSQL</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>org.apache.geronimo.console.internaldb.RunSQLPortlet</param-value>
        </init-param>
        <init-param>
            <param-name>portlet-guid</param-name>
            <param-value>console-standard.RunSQL</param-value>
        </init-param>
    </servlet>



<servlet>
  <display-name>DWR Servlet</display-name>
  <servlet-name>dwr-invoker</servlet-name>
  <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
</servlet>

<servlet-mapping>
  <servlet-name>dwr-invoker</servlet-name>
  <url-pattern>/dwr/*</url-pattern>
</servlet-mapping>



    <servlet-mapping>
        <servlet-name>EJBServer</servlet-name>
        <url-pattern>/EJBServer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>J2CAServer</servlet-name>
        <url-pattern>/J2CAServer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CORBAServer</servlet-name>
        <url-pattern>/CORBAServer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UDDIServer</servlet-name>
        <url-pattern>/UDDIServer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailServer</servlet-name>
        <url-pattern>/MailServer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EARModules</servlet-name>
        <url-pattern>/EARModules/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WARModules</servlet-name>
        <url-pattern>/WARModules/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EJBModules</servlet-name>
        <url-pattern>/EJBModules/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RARModules</servlet-name>
        <url-pattern>/RARModules/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientModules</servlet-name>
        <url-pattern>/ClientModules/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemModules</servlet-name>
        <url-pattern>/SystemModules/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityRealms</servlet-name>
        <url-pattern>/SecurityRealms/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Keystore</servlet-name>
        <url-pattern>/Keystore/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>Applications</servlet-name>
        <url-pattern>/Applications/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deployment</servlet-name>
        <url-pattern>/Deployment/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Databases</servlet-name>
        <url-pattern>/Databases/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBWizard</servlet-name>
        <url-pattern>/DBWizard/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SEUsers</servlet-name>
        <url-pattern>/SEUsers/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SEGroups</servlet-name>
        <url-pattern>/SEGroups/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SecurityRealms</servlet-name>
        <url-pattern>/SecurityRealms/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogManager</servlet-name>
        <url-pattern>/LogManager/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogViewer</servlet-name>
        <url-pattern>/LogViewer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DerbyLogViewer</servlet-name>
        <url-pattern>/DerbyLogViewer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebAccessLogViewer</servlet-name>
        <url-pattern>/WebAccessLogViewer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerInfo</servlet-name>
        <url-pattern>/ServerInfo/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaSysInfo</servlet-name>
        <url-pattern>/JavaSysInfo/*</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>MailManager</servlet-name>
        <url-pattern>/MailManager/*</url-pattern>
    </servlet-mapping>
    -->
    <!-- BPM Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>BPMDeployment</servlet-name>
        <url-pattern>/BPMDeployment/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BPMInstance</servlet-name>
        <url-pattern>/BPMInstance/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BPMTaskList</servlet-name>
        <url-pattern>/BPMTaskList/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BPMNotification</servlet-name>
        <url-pattern>/BPMNotification/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BPMStatistics</servlet-name>
        <url-pattern>/BPMStatistics/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JMSManager</servlet-name>
        <url-pattern>/JMSManager/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JMSConnections</servlet-name>
        <url-pattern>/JMSConnections/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebServerManager</servlet-name>
        <url-pattern>/WebServerManager/*</url-pattern>
    </servlet-mapping>
<!--
    <servlet-mapping>
        <servlet-name>HTTPConnectorManager</servlet-name>
        <url-pattern>/HTTPConnectorManager/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HTTPSConnectorManager</servlet-name>
        <url-pattern>/HTTPSConnectorManager/*</url-pattern>
    </servlet-mapping>
-->
    <servlet-mapping>
        <servlet-name>ConnectorManager</servlet-name>
        <url-pattern>/ConnectorManager/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JMSServerManager</servlet-name>
        <url-pattern>/JMSServerManager/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JMSConnectorManager</servlet-name>
        <url-pattern>/JMSConnectorManager/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JNDI</servlet-name>
        <url-pattern>/JNDI/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoryViewer</servlet-name>
        <url-pattern>/RepositoryViewer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerManager</servlet-name>
        <url-pattern>/ServerManager/*</url-pattern>
    </servlet-mapping>
    <!-- DB manager servlet mappings -->
    <servlet-mapping>
        <servlet-name>InternalDB</servlet-name>
        <url-pattern>/InternalDB/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBViewer</servlet-name>
        <url-pattern>/DBViewer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RunSQL</servlet-name>
        <url-pattern>/RunSQL/*</url-pattern>
    </servlet-mapping>

<!-- org.apache.geronimo.console.core.securitymanager.SecurityRealmsPortlet
    <security-role>
        <role-name>tomcat</role-name>
    </security-role>
    -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/portlet</taglib-uri>
            <taglib-location>/WEB-INF/tld/portlet.tld</taglib-location>
        </taglib>
    </jsp-config>
<!--
    <env-entry>
        <env-entry-name>GeronimoKernel</env-entry-name>
        <env-entry-type>org.apache.geronimo.kernel.Kernel</env-entry-type>
    </env-entry>
-->

<!--
    <taglib>
        <taglib-uri>http://java.sun.com/portlet</taglib-uri>
        <taglib-location>/WEB-INF/tld/portlet.tld</taglib-location>
    </taglib>
-->

<!--    <resource-ref>
        <res-ref-name>SystemDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <resource-ref>
        <res-ref-name>GCMSSQLDataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref> -->

</web-app>
