<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://geronimo.apache.org/xml/ns/naming" 
       class = "org.apache.geronimo.xml.ns.naming.NamingPackage"
       genModel = "schema/geronimo-web.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="naming" 
       class="org.apache.geronimo.xml.ns.naming.util.NamingResourceFactoryImpl" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://geronimo.apache.org/xml/ns/deployment" 
       class = "org.apache.geronimo.xml.ns.deployment.DeploymentPackage"
       genModel = "schema/geronimo-web.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="deployment" 
       class="org.apache.geronimo.xml.ns.deployment.util.DeploymentResourceFactoryImpl" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://geronimo.apache.org/xml/ns/web" 
       class = "org.apache.geronimo.xml.ns.web.WebPackage"
       genModel = "schema/geronimo-web.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="web" 
       class="org.apache.geronimo.xml.ns.web.util.WebResourceFactoryImpl" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://geronimo.apache.org/xml/ns/security" 
       class = "org.apache.geronimo.xml.ns.security.SecurityPackage"
       genModel = "schema/geronimo-web.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="security" 
       class="org.apache.geronimo.xml.ns.security.util.SecurityResourceFactoryImpl" />
  </extension>

</plugin>

