<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed  under the  License is distributed on an "AS IS" BASIS,
WITHOUT  WARRANTIES OR CONDITIONS  OF ANY KIND, either  express  or
implied.

See the License for the specific language governing permissions and
limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5" metadata-complete="true">
    <display-name>Geronimo Management Console Portlets</display-name>

    <servlet>
      <servlet-name>dwr-invoker</servlet-name>
      <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
      <init-param>
        <param-name>classes</param-name>
        <param-value>
            org.apache.geronimo.console.jsr77.Jsr77Lookup,
            org.apache.geronimo.console.jsr77.DynamicServerInfo
        </param-value>
      </init-param>
      <init-param>
          <param-name>activeReverseAjaxEnabled</param-name>
          <param-value>true</param-value>
      </init-param>
    </servlet>

    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>Welcome</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServerInfo</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>ServerInfo</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>JavaSysInfo</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>JavaSysInfo</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LogManager</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>LogManager</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LogViewer</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>LogViewer</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WebAccessLogViewer</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>WebAccessLogViewer</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServerManager</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>ServerManager</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WebServerManager</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>WebServerManager</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ConnectorManager</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>ConnectorManager</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ThreadPool</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>ThreadPool</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RepositoryViewer</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>RepositoryViewer</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ApacheJK</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>ApacheJK</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Keystores</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>Keystores</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CertificationAuthority</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>CertificationAuthority</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Applications</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>Applications</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WARModules</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>WARModules</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>EBAModules</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>EBAModules</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>BundleManagerPortletServlet</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>BundleManagerPortlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>    
    <servlet>
        <servlet-name>SystemModules</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>SystemModules</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SEUsers</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>SEUsers</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SEGroups</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>SEGroups</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SecurityRealms</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>SecurityRealms</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EARModules</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>EARModules</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EJBModules</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>EJBModules</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RARModules</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>RARModules</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ClientModules</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>ClientModules</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
        <servlet>
        <servlet-name>Artifact</servlet-name>
        <servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>Artifact</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/PlutoInvoker/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerInfo</servlet-name>
        <url-pattern>/PlutoInvoker/ServerInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaSysInfo</servlet-name>
        <url-pattern>/PlutoInvoker/JavaSysInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogManager</servlet-name>
        <url-pattern>/PlutoInvoker/LogManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogViewer</servlet-name>
        <url-pattern>/PlutoInvoker/LogViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebAccessLogViewer</servlet-name>
        <url-pattern>/PlutoInvoker/WebAccessLogViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerManager</servlet-name>
        <url-pattern>/PlutoInvoker/ServerManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebServerManager</servlet-name>
        <url-pattern>/PlutoInvoker/WebServerManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectorManager</servlet-name>
        <url-pattern>/PlutoInvoker/ConnectorManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThreadPool</servlet-name>
        <url-pattern>/PlutoInvoker/ThreadPool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoryViewer</servlet-name>
        <url-pattern>/PlutoInvoker/RepositoryViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApacheJK</servlet-name>
        <url-pattern>/PlutoInvoker/ApacheJK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Keystores</servlet-name>
        <url-pattern>/PlutoInvoker/Keystores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificationAuthority</servlet-name>
        <url-pattern>/PlutoInvoker/CertificationAuthority</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Applications</servlet-name>
        <url-pattern>/PlutoInvoker/Applications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WARModules</servlet-name>
        <url-pattern>/PlutoInvoker/WARModules</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>EBAModules</servlet-name>
        <url-pattern>/PlutoInvoker/EBAModules</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>BundleManagerPortletServlet</servlet-name>
        <url-pattern>/PlutoInvoker/BundleManagerPortlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>SystemModules</servlet-name>
        <url-pattern>/PlutoInvoker/SystemModules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SEUsers</servlet-name>
        <url-pattern>/PlutoInvoker/SEUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SEGroups</servlet-name>
        <url-pattern>/PlutoInvoker/SEGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityRealms</servlet-name>
        <url-pattern>/PlutoInvoker/SecurityRealms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EARModules</servlet-name>
        <url-pattern>/PlutoInvoker/EARModules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EJBModules</servlet-name>
        <url-pattern>/PlutoInvoker/EJBModules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RARModules</servlet-name>
        <url-pattern>/PlutoInvoker/RARModules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientModules</servlet-name>
        <url-pattern>/PlutoInvoker/ClientModules</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>Artifact</servlet-name>
        <url-pattern>/PlutoInvoker/Artifact</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name></web-resource-name>
            
            <!--<url-pattern>/</url-pattern>-->
            <url-pattern>/PlutoInvoker/*</url-pattern>
            <url-pattern>/dwr/*</url-pattern>
            <url-pattern>/car-export</url-pattern>
            <url-pattern>/maven-repo/*</url-pattern>
            <url-pattern>/plan-export</url-pattern>
            <url-pattern>/graphs/*</url-pattern>
            <url-pattern>/ajax/*</url-pattern>
            
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>geronimo-admin</realm-name>
    </login-config>
    <security-role>
        <role-name>admin</role-name>
    </security-role>

    <!--
    For security reasons requests to the dwr servlet go through
    the "/console" web-app context. The purpose of dwr-filter is
    to map the attributes such as pathInfo, requestURI, etc. of
    the original request into the request that is delivered to
    the dwr-invoker servlet.  The dwr-invoker servlet uses those
    attributes to create URLs that it sends back to the client.
     -->
    <filter>
        <filter-name>dwr-filter</filter-name>
        <filter-class>org.apache.geronimo.console.servlet.ForwardDispatchFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>dwr-filter</filter-name>
        <servlet-name>dwr-invoker</servlet-name>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

</web-app>
