

//
//
//   Copyright 2005 The Apache Software Foundation
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//       http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.
//

//
// $Rev: 158397 $ $Date: 2005-03-21 14:06:55 +1100 (Mon, 21 Mar 2005) $
//

grant {
    permission java.util.PropertyPermission "jmx.remote.protocol.provider.pkgs", "read";
    permission java.util.PropertyPermission "mx4j.remote.resolver.pkgs", "read";
    permission java.util.PropertyPermission "mx4j.log.priority", "read";
    permission java.util.PropertyPermission "mx4j.log.prototype", "read";
    permission java.util.PropertyPermission "mx4j.objectname.caching", "read";
    permission java.util.PropertyPermission "user.dir", "read";

    // HTTP server from where classes are downloaded - configure the reflect your execution environment.
    permission java.net.SocketPermission "*:8080", "connect,resolve";

    // RMI registry - configure the reflect your execution environment.
    permission java.net.SocketPermission "*:1099", "connect,resolve";
    // For RMI communications - configure the reflect your execution environment.
    permission java.net.SocketPermission "*:1024-", "connect,resolve";

    // Configure to reflect your execution environment.
    permission java.io.FilePermission "<<ALL FILES>>", "read";

    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "getProtectionDomain";
};
